:root {
    --main-bg-color: #ffffff;
}

body {
    background-color: var(--main-bg-color);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#app section, #app header, #app footer {
    min-height: 80px;
    padding: 20px;
    border-bottom: 1px dashed #dee2e6;
}